<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/mui.css" />
		<!--<link href="css/mui.picker.css" rel="stylesheet" />
		<link href="css/mui.poppicker.css" rel="stylesheet" />-->
	</head>

	<body>
		<!-- 主界面菜单同时移动 -->
		<!-- 侧滑导航根容器 -->
		<div class="mui-off-canvas-wrap mui-draggable">
			<!-- 主页面容器 -->
			<div class="mui-inner-wrap">
				<!-- 菜单容器 -->
				<aside class="mui-off-canvas-left" id="offCanvasSide">
					<div class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<!-- 菜单具体展示内容 -->
						</div>
					</div>
				</aside>
				<!-- 主页面标题 -->
				<header class="mui-bar mui-bar-nav" style="background-color: rgb(29, 38, 60);">
					<a class="mui-icon mui-action-menu mui-icon-bars mui-pull-left" href="#offCanvasSide"></a>
					<h1 class="mui-title" style="color:orangered;">首页</h1>
					<a href="./search.html"><span class="mui-icon mui-icon-search mui-pull-right" style="color: white;"></span></a>
				</header>
				<!-- 主页面内容容器 -->
				<div class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<!-- 主界面具体展示内容 -->
						<div id="slider" class="mui-slider">
							<div class="mui-slider-group mui-slider-loop">
								<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
								<div class="mui-slider-item mui-slider-item-duplicate">
									<a href="#">
										<img src="images/banner-4.jpg">
									</a>
								</div>
								<!-- 第一张 -->
								<div class="mui-slider-item">
									<a href="#">
										<img src="images/banner-1.jpg">
									</a>
								</div>
								<!-- 第二张 -->
								<div class="mui-slider-item">
									<a href="#">
										<img src="images/banner-2.jpg">
									</a>
								</div>
								<!-- 第三张 -->
								<div class="mui-slider-item">
									<a href="#">
										<img src="https://pic1.zhimg.com/v2-aff3db9276e666873d9bedbb2873ee4c_b.png?rss">
									</a>
								</div>
								<!-- 第四张 -->
								<div class="mui-slider-item">
									<a href="#">
										<img src="images/banner-4.jpg">
									</a>
								</div>
								<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
								<div class="mui-slider-item mui-slider-item-duplicate">
									<a href="#">
										<img src="images/banner-1.jpg">
									</a>
								</div>
							</div>
							<a type="button" id="TTTT">GET</button>
								<div class="mui-slider-indicator">
									<div class="mui-indicator mui-active"></div>
									<div class="mui-indicator"></div>
									<div class="mui-indicator"></div>
									<div class="mui-indicator"></div>
								</div>
						</div>
						<ul class="mui-table-view mui-grid-view mui-grid-12">
							<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3">
								<a>
									推荐
								</a>
							</li>
							<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3">
								<a href="#">
									公告
								</a>
							</li>
							<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3">
								<a href="#">
									竞价
								</a>
							</li>
							<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3">
								<a href="#">
									新闻
								</a>
							</li>
						</ul>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<!--<img class="mui-media-object mui-pull-left" src="images/1.jpg">-->
									<div class="mui-media-body">
										幸福
										<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<!--<img class="mui-media-object mui-pull-left" src="images/2.jpg">-->
									<div class="mui-media-body">
										木屋
										<p class="mui-ellipsis">想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<!--<img class="mui-media-object mui-pull-left" src="images/3.jpg">-->
									<div class="mui-media-body">
										CBD
										<p class="mui-ellipsis">烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
		<script src="js/template-web.js"></script>
<script id='doctor-template' type="text/template">
<% for(var i in data){ var item=data[i]; %>
<li class="mui-table-view-cell mui-media ">
<a href="javascript:;" class="mui-navigate-right">
<div class="mui-media-object mui-pull-left">
<img src="<%=(item.photo)%>" width="100%">
<span class="mui-badge mui-badge-danger"><%=(item.score)%>分</span>
</div>
<div class="mui-media-body">
<%=(item.name)%>&nbsp;<span class="mui-badge mui-badge-warning"><%=(item.position)%></span>
<p class="mui-ellipsis"><%=(item.hospital)%></p>
<p class="mui-ellipsis"><%=(item.desc)%></p>
</div>
</a>
</li>
<% } %>
</script>

<script>
var fragment = template('doctor-template', {
"data":[{
		name:"王静",
		score:4.5,
		photo:'images/logo.png',
		hospital:"江苏省中医院",
		desc:'妇科、不孕不育症、月经病等',
		position:'副医师'
		},
		{
		name:"啦啦",
		score:4.9,
		photo:'images/logo.png',
		hospital:"鼓楼医院",
		desc:'儿童呼吸系统疾病的诊治，对于儿童疾病',
		position:'主治医师'
		}
		]
		});
</script>	
		<script src="js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			(function($, doc) {
				$.ready(function() {
					var slider = mui("#slider");
					slider.slider({
						interval: 3000
					});

					document.getElementById('TTTT').addEventListener('tap', function() {

						mui.ajax('http://www.srmmx.com/EbidServices/checkLogin', {
							data: {
								userName: 'ebid',
								password: '3333302eac36ff5158dc5d3ff2db2447'
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'get', //HTTP请求类型
							success: function(data) {
								console.log(data);
							}
						});
						

					});
				});
			})(mui, document);
		</script>
	</body>

</html>