USE [ebidtw]
GO
/****** Object:  Table [dbo].[SYS_USER_INFO]    Script Date: 03/22/2017 17:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[USER_NAME] [nvarchar](64) NULL,
	[GENDER] [int] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[DEPARTMENT_ID] [uniqueidentifier] NULL,
	[WORK_LOCATION] [nvarchar](200) NULL,
	[TEL_EXTENSION] [nvarchar](50) NULL,
	[MOBILE_PHONE1] [nvarchar](50) NULL,
	[MOBILE_PHONE2] [nvarchar](50) NULL,
	[DATE_OF_BIRTH] [datetime] NULL,
	[ID_CARD_NO] [nvarchar](20) NULL,
	[STAFF_NO] [nvarchar](20) NULL,
	[CREATE_USER] [nvarchar](64) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_USER] [nvarchar](64) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[SN_NUMBER] [nvarchar](50) NULL,
	[VENDOR_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK__SYS_USER__3214EC273296789C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SYS_USER_INFO] ON
INSERT [dbo].[SYS_USER_INFO] ([ID], [USER_ID], [USER_NAME], [GENDER], [EMAIL], [DEPARTMENT_ID], [WORK_LOCATION], [TEL_EXTENSION], [MOBILE_PHONE1], [MOBILE_PHONE2], [DATE_OF_BIRTH], [ID_CARD_NO], [STAFF_NO], [CREATE_USER], [CREATE_DATE], [UPDATE_USER], [UPDATE_DATE], [SN_NUMBER], [VENDOR_ID]) VALUES (1, 1, N'ADMIN', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'6ca09423-c30d-4e7a-a4cd-345b6d0fcc3d')
INSERT [dbo].[SYS_USER_INFO] ([ID], [USER_ID], [USER_NAME], [GENDER], [EMAIL], [DEPARTMENT_ID], [WORK_LOCATION], [TEL_EXTENSION], [MOBILE_PHONE1], [MOBILE_PHONE2], [DATE_OF_BIRTH], [ID_CARD_NO], [STAFF_NO], [CREATE_USER], [CREATE_DATE], [UPDATE_USER], [UPDATE_DATE], [SN_NUMBER], [VENDOR_ID]) VALUES (2, 2, N'供應商', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'8365ac24-1a2c-40cd-a62c-d71214f570bd')
INSERT [dbo].[SYS_USER_INFO] ([ID], [USER_ID], [USER_NAME], [GENDER], [EMAIL], [DEPARTMENT_ID], [WORK_LOCATION], [TEL_EXTENSION], [MOBILE_PHONE1], [MOBILE_PHONE2], [DATE_OF_BIRTH], [ID_CARD_NO], [STAFF_NO], [CREATE_USER], [CREATE_DATE], [UPDATE_USER], [UPDATE_DATE], [SN_NUMBER], [VENDOR_ID]) VALUES (3, 3, N'聚能光電有限公司', 1, N'yan-fen.guo@mail.foxconn.com', NULL, NULL, N'', NULL, NULL, NULL, N'', NULL, NULL, NULL, NULL, NULL, N'5CBE825400000001D3CC', N'e7256823-2e28-4537-855f-794ddc0130e8')
SET IDENTITY_INSERT [dbo].[SYS_USER_INFO] OFF
