USE [ebidtw]
GO
/****** Object:  Table [dbo].[SYS_USERS]    Script Date: 03/22/2017 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USERS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ACCOUNT] [nvarchar](100) NULL,
	[USER_PWD] [nvarchar](100) NULL,
	[EXPIRED_DATE] [datetime] NULL,
	[ACTIVED] [int] NULL,
	[RESERVED] [int] NULL,
	[USER_TYPE] [int] NULL,
	[DELETED] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](100) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [nvarchar](100) NULL,
	[FULL_NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK__SYS_USER__3214EC272818EA29] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__SYS_USER__3CA1C3112AF556D4] UNIQUE NONCLUSTERED 
(
	[USER_ACCOUNT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SYS_USERS] ON
INSERT [dbo].[SYS_USERS] ([ID], [USER_ACCOUNT], [USER_PWD], [EXPIRED_DATE], [ACTIVED], [RESERVED], [USER_TYPE], [DELETED], [CREATE_DATE], [CREATE_USER], [UPDATE_DATE], [UPDATE_USER], [FULL_NAME]) VALUES (1, N'admin01', N'XohImNooBHFR0OVvjcYpJ3NgPQ1qq73WKhHvch0VQtg=', NULL, 1, 0, NULL, 0, CAST(0x0000A68E00A8A4F2 AS DateTime), NULL, NULL, NULL, N'ADMIN')
INSERT [dbo].[SYS_USERS] ([ID], [USER_ACCOUNT], [USER_PWD], [EXPIRED_DATE], [ACTIVED], [RESERVED], [USER_TYPE], [DELETED], [CREATE_DATE], [CREATE_USER], [UPDATE_DATE], [UPDATE_USER], [FULL_NAME]) VALUES (2, N'F7970003', N'XohImNooBHFR0OVvjcYpJ3NgPQ1qq73WKhHvch0VQtg=', CAST(0x0000000000000000 AS DateTime), 1, 0, 3, 0, CAST(0x0000A68E00A8B861 AS DateTime), NULL, NULL, N'admin01', N'小肆實業')
INSERT [dbo].[SYS_USERS] ([ID], [USER_ACCOUNT], [USER_PWD], [EXPIRED_DATE], [ACTIVED], [RESERVED], [USER_TYPE], [DELETED], [CREATE_DATE], [CREATE_USER], [UPDATE_DATE], [UPDATE_USER], [FULL_NAME]) VALUES (3, N'2601917', N'XohImNooBHFR0OVvjcYpJ3NgPQ1qq73WKhHvch0VQtg=', NULL, 1, 0, NULL, 0, CAST(0x0000A68E00AA52C0 AS DateTime), NULL, NULL, NULL, N'聚能光電有限公司')
SET IDENTITY_INSERT [dbo].[SYS_USERS] OFF
/****** Object:  Default [DF__SYS_USERS__ACTIV__40E497F3]    Script Date: 03/22/2017 16:58:35 ******/
ALTER TABLE [dbo].[SYS_USERS] ADD  DEFAULT ((0)) FOR [ACTIVED]
GO
/****** Object:  Default [DF__SYS_USERS__RESER__41D8BC2C]    Script Date: 03/22/2017 16:58:35 ******/
ALTER TABLE [dbo].[SYS_USERS] ADD  DEFAULT ((0)) FOR [RESERVED]
GO
/****** Object:  Default [DF__SYS_USERS__DELET__42CCE065]    Script Date: 03/22/2017 16:58:35 ******/
ALTER TABLE [dbo].[SYS_USERS] ADD  DEFAULT ((0)) FOR [DELETED]
GO
/****** Object:  Default [DF__SYS_USERS__CREAT__43C1049E]    Script Date: 03/22/2017 16:58:35 ******/
ALTER TABLE [dbo].[SYS_USERS] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
